@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #001f3f;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
}

html {
	font-size: calc(100vw / 1440 * 14);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-figtree);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main {
	flex-grow: 1;
}

button,
[role='button'] {
	cursor: pointer;
	outline: none;
	font-family: inherit;
}

.track {
	will-change: transform;
	animation: marquee 30.5s linear infinite;
}

.track:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}
