@import 'tailwindcss';

:root {
	--background: #ffffff;
	--light-cream: #fffff6;
	--extra-light-grey: #f4f4f4;
	--mid-grey: #e9e9e9;
	--mid-grey-2: #d9d9d9;
	--charcoal-grey: #4b4b4b;
	--mint: #00c7be;
	--orange: #ff9500;
	--cyan: #32ade6;
	--green: #34c759;
	--deep-green: #011f00;
	--indigo: #5856d6;
	--sky-blue: #4fc7ff;
	--light-grey-2: #cccccc;
	--royal-blue: #2c59c3;
	--cream-peach: #ffeed0;
	--light-grey-3: #f2f2f2;
	--pale-indigo: #f1f5ff;
	--navy: #012b56;
	--slate: #4a5565;
	--cool-grey: #6a7282;
	--near-black: #0a0a0a;
	--heading: #001f3f;
}

@theme inline {
	--color-background: var(--background);
	--color-light-cream: var(--light-cream);
	--color-extra-light-grey: var(--extra-light-grey);
	--color-mid-grey: var(--mid-grey);
	--color-mid-grey-2: var(--mid-grey-2);
	--color-charcoal-grey: var(--charcoal-grey);
	--color-mint: var(--mint);
	--color-orange: var(--orange);
	--color-cyan: var(--cyan);
	--color-green: var(--green);
	--color-deep-green: var(--deep-green);
	--color-indigo: var(--indigo);
	--color-sky-blue: var(--sky-blue);
	--color-light-grey-2: var(--light-grey-2);
	--color-royal-blue: var(--royal-blue);
	--color-cream-peach: var(--cream-peach);
	--color-light-grey-3: var(--light-grey-3);
	--color-pale-indigo: var(--pale-indigo);
	--color-navy: var(--navy);
	--color-slate: var(--slate);
	--color-cool-grey: var(--cool-grey);
	--color-near-black: var(--near-black);
	--color-heading: var(--heading);
	--text-14: max(0.875rem, 14px);
	--text-16: max(1rem, 14px);
	--text-20: max(1.25rem, 16px);
	--text-40: max(2.5rem, 32px);
	--text-48: max(3rem, 32px);
	--text-60: max(3.85rem, 24px);
	--text-100: max(6.25rem, 80px);
	--container-container: max(75rem, 1200px);
	--spacing-gutter: max(5rem, 16px);
	--breakpoint-des: 75rem;
}

html {
	font-size: calc(100vw / 1200 * 14);
}

body {
	background: var(--background);
	font-family: var(--font-figtree);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	line-height: 1;
}

main {
	flex-grow: 1;
}

button,
[role='button'] {
	cursor: pointer;
	outline: none;
	font-family: inherit;
	transition: all 0.3s ease-in-out;
	white-space: nowrap;
}

.track {
	will-change: transform;
	animation: marquee 30.5s linear infinite;
}

.track:hover {
	animation-play-state: paused;
}

@keyframes marquee {
	0% {
		transform: translate3d(0, 0, 0);
	}
	100% {
		transform: translate3d(-50%, 0, 0);
	}
}

.app-container {
	@apply max-w-container mx-auto;
}
